{% extends 'base.html' %}
{% block body_block %}



<!-- title and tag -->
<div class="container">
    <h1>The First Project of Team 4</h1>
    <hr>

    <!-- Content of the body-->
    <h2>Services offered by team 4 company</h2>
    <!--<div class="row"> -->
    <main>
        <table>
           
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 1"></td>
                <td>EndUser computing</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Organized trans</li>
                            <li>Technology solutions alone cannot help customers achieve their goals of an always-on IT environment that supports critical business processes and customer service. AVASO’s core technology services play a key role in delivering these results. 
                                </li>                            
                        </ul>
                    </div>
                </td>
                
            

            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 2"></td>
                <td>Webdevelopment</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained over 50 staff members in internal web functions, including steps on how to
                                independently make minor updates and changes</li>
                            <li>Built the logic for a streamlined ad-serving platform that scaled to our 100M users
                                which improved the page speed by 14% after implementation</li>
                        </ul>
                    </div>
                </td>
               
            </tr>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 3"></td>
                <td>Network Technician</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained 3 administrative assistants on customer service.</li>
                            <li>Built the logic for a streamlined ad-serving platform that scaled to our 100M users
                                which improved the page speed by 14% after implementation</li>
                        </ul>
                    </div>
                </td>
               
            </tr>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 4"></td>
                <td>Robert Andersson</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained over 50 staff members in internal web functions, including steps on how to
                                independently make minor updates and changes</li>
                            <li>Utilized sci-kit learn in Python to simulate possible outcomes under different scenarios
                                that the user chose</li>
                        </ul>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 5"></td>
                <td>Pierre</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained over 50 staff members in internal web functions, including steps on how to
                                independently make minor updates and changes</li>
                            <li>Built the logic for a streamlined ad-serving platform that scaled to our 100M users
                                which improved the page speed by 14% after implementation</li>
                        </ul>
                    </div>
                </td>
                
            </tr>
        </table>
    </main>

    <!-- </div> -->
</div>

{% endblock %}